.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
  border: 1px solid red;
}

.menu-bar {
  border: 1px solid blue;
  padding: 1rem;
}

.main-content {
  border: 1px solid green;
  flex: 1;
}
